body {
  background-color: #eee;
}

p, .btn {
  line-height: 1.6;
  font-size  : 17px;
  color      : #333;
  font-family: 'Courier New', Courier, monospace;

}

.btn {
  text-decoration: none;
  font-weight    : bold;
}